a{color:#fff;text-decoration:none;}
body{background-color:#000; color:#fff;}
header{background: url(UB40.jpg);width:100%;}
ul.slider{margin:0;padding:0;}

#absoluteDiv{
position:absolute;
bottom:0px;
left:25px;
}

#FixedDiv{
position:fixed;
top:0px;left:0px;
}

#FixedDiv2{
position:fixed;
bottom:0;
height:0;
left:10px;
}

#FixedDiv3{
position:fixed;
Top:0px;
left:10px;
}

.text{text-align:justify;}

.backgroundone{background:#005;}

.header{padding:60px;box-sizing:border-box;}
.footer{padding:60px;box-sizing:border-box;color:#fff;left:0px;bottom:0px;width:100%;}

.body{padding-top:125px;}

.thirty{width:33.33%;text-align:center;}
.twothird{width:66.66%;}
.half{width:50%;}
.full{width:100%;}

.imageslider{width:300px;float:left;}

.left{float:left;}
.right{float:right;}
.center{float:center;}

.clear{clear:both;}

.body1 { width: 3000px; } .panel { width: autopx; float: left; padding-left: 150px; padding-right: 50px; }



